In [1]:
import pandas as pd
import numpy as np
import random

In [3]:
df_app = pd.read_csv('application_train.csv')
df_bureau = pd.read_csv('bureau.csv')
df_bureau_balance = pd.read_csv('bureau_balance.csv')

# EAD

In [4]:
status_list = ['0','1','2','3','4','5']
df_bureau_balance = df_bureau_balance.query('STATUS in @status_list')
df_bureau_balance['STATUS'] = df_bureau_balance['STATUS'].astype('int')
df_bureau_balance = df_bureau_balance.set_index('SK_ID_BUREAU')

In [5]:
min_date = pd.DataFrame(data = df_bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min())
min_date.columns = ['min_date']
min_default_date = pd.DataFrame(data = df_bureau_balance.query('STATUS in (4,5)').groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min())
min_default_date.columns = ['min_default_date']
data_info = min_date.join(min_default_date, how='inner')
data_info = data_info.join(df_bureau.set_index('SK_ID_BUREAU')[['SK_ID_CURR','AMT_CREDIT_SUM']])
data_info['calc_annuity'] = data_info['AMT_CREDIT_SUM']/-data_info['min_date']
data_info['EAD'] = data_info['AMT_CREDIT_SUM'] - round(data_info['calc_annuity']) * (-data_info['min_date'] + data_info['min_default_date'])
data_info = data_info.reset_index()
df_ead = df_app.join(data_info.set_index('SK_ID_CURR'), how='inner', on='SK_ID_CURR').drop(['SK_ID_BUREAU','min_date','min_default_date','TARGET'], axis=1)
df_ead.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_SUM,calc_annuity,EAD
145,100167,Cash loans,F,N,Y,0,180000.0,427500.0,46170.0,427500.0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,202500.00,6750.000000,141750.00
183,100213,Cash loans,F,N,N,2,49500.0,278460.0,19930.5,225000.0,...,0,0.0,0.0,0.0,1.0,0.0,0.0,36828.00,944.307692,22668.00
191,100221,Cash loans,F,N,Y,0,225000.0,684054.0,77494.5,630000.0,...,0,0.0,0.0,0.0,0.0,1.0,4.0,86012.55,5734.170000,11470.55
191,100221,Cash loans,F,N,Y,0,225000.0,684054.0,77494.5,630000.0,...,0,0.0,0.0,0.0,0.0,1.0,4.0,23184.00,282.731707,19505.00
483,100557,Cash loans,F,Y,Y,0,225000.0,1320975.0,43785.0,1183500.0,...,0,0.0,0.0,0.0,0.0,1.0,2.0,549000.00,6695.121951,488745.00

# LGD

In [6]:
def make_status(status_bki):
    if status_bki > 4:
        result = 4
    else:
        result = status_bki
    return result

In [7]:
df_bureau_balance_LGD = df_bureau_balance.copy()
df_bureau_balance_LGD['STATUS'] = df_bureau_balance_LGD.apply(lambda x: make_status(x.STATUS), axis=1)
df_bureau_balance_LGD.head()

              MONTHS_BALANCE  STATUS
SK_ID_BUREAU
5715448                   -9       0
5715448                  -10       0
5715448                  -14       0
5715448                  -15       0
5715448                  -16       0

In [8]:
print(df_bureau_balance_LGD['MONTHS_BALANCE'].unique())
dates_list = list(df_bureau_balance_LGD['MONTHS_BALANCE'].unique())
dates_list.sort()

[ -9 -10 -14 -15 -16 -17 -18 -19  -6  -7  -8 -11 -12 -13 -20 -21 -22 -23
 -24 -25 -26 -27 -28 -29 -30 -34 -35 -36 -37 -38 -39 -40 -41 -42 -43 -44
 -45 -46 -47 -48 -49 -50 -51 -53   0  -1  -2  -3  -4  -5 -61 -31 -32 -33
 -59 -60 -62 -63 -64 -83 -84 -85 -86 -87 -88 -89 -90 -70 -71 -72 -73 -74
 -75 -76 -77 -65 -66 -67 -68 -69 -52 -54 -55 -56 -57 -58 -91 -92 -93 -94
 -95 -78 -80 -81 -79 -82 -96]

In [9]:
# Получаем помесячные матрицы перехода клиентов по бакетам просрочки

for date in dates_list:    
    if date < 0:
        
        print('Матрица перехода из месяца ' + str(date) + ' в месяц ' + str(date+1))
    
        # Получаем статистику по распределению клиентов по бакетам просрочки за текущий и следующий месяцы
        df_date = df_bureau_balance_LGD.query('MONTHS_BALANCE == @date')
        df_next_date = df_bureau_balance_LGD.query('MONTHS_BALANCE == @date + 1')    
        df_two_dates = df_date.join(df_next_date, how='inner', lsuffix='_this_date', rsuffix='_next_date')
        df_two_dates_stat = df_two_dates.groupby(['STATUS_this_date','STATUS_next_date'])['STATUS_next_date'].count()
        df_two_dates_stat = pd.DataFrame(df_two_dates_stat)
        df_two_dates_stat.columns = ['cnt']
        df_two_dates_stat.reset_index(inplace=True)         
        #display(df_two_dates_stat)
        
        # Получаем статистику по распределению клиентов по бакетам просрочки за текущий месяц
        df_this_date_stat = df_two_dates_stat.groupby(['STATUS_this_date'])['cnt'].sum()
        df_this_date_stat = pd.DataFrame(df_this_date_stat)
        df_this_date_stat.columns = ['cnt']
        #df_this_date_stat.reset_index(inplace=True)         
        #display(df_this_date_stat)
        
        # Получаем статистику по распределению переходов в бакеты просрочки на следующий месяц
        
        df_two_dates_stat['ratio'] = 0.0
        
        for i, row in df_two_dates_stat.iterrows():
            this_date = row['STATUS_this_date']
            this_cnt = row['cnt']
            all_cnt = df_this_date_stat.loc[this_date].values[0]
            df_two_dates_stat.at[i,'ratio'] = round(this_cnt / all_cnt,4)
        
        #display(df_two_dates_stat)
        
        # Представляем статистику по распределению в удобном виде
        
        df_two_dates_pivot = df_two_dates_stat.pivot(index = 'STATUS_this_date', columns = 'STATUS_next_date', values = 'ratio')
        df_two_dates_pivot.fillna(0, inplace=True)
        exec('mtrx_' + str(abs(date)) + ' = df_two_dates_pivot.copy()')
        display(df_two_dates_pivot)

Матрица перехода из месяца -96 в месяц -95

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9752  0.0223  0.0019  0.0001  0.0004
1                 0.4432  0.4356  0.1174  0.0038  0.0000
2                 0.2717  0.0870  0.2391  0.3913  0.0109
3                 0.1081  0.0270  0.0270  0.1081  0.7297
4                 0.0483  0.0207  0.0069  0.0000  0.9241

Матрица перехода из месяца -95 в месяц -94

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9737  0.0239  0.0018  0.0001  0.0005
1                 0.4443  0.4268  0.1272  0.0017  0.0000
2                 0.3158  0.0702  0.2193  0.3947  0.0000
3                 0.1220  0.0488  0.0488  0.0244  0.7561
4                 0.0303  0.0000  0.0061  0.0061  0.9576

Матрица перехода из месяца -94 в месяц -93

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9752  0.0229  0.0016  0.0001  0.0002
1                 0.4771  0.3965  0.1264  0.0000  0.0000
2                 0.2640  0.1040  0.2080  0.4240  0.0000
3                 0.1042  0.0000  0.0208  0.0833  0.7917
4                 0.0423  0.0053  0.0053  0.0053  0.9418

Матрица перехода из месяца -93 в месяц -92

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9735  0.0245  0.0016  0.0001  0.0003
1                 0.4649  0.3916  0.1420  0.0016  0.0000
2                 0.2463  0.1642  0.1716  0.4104  0.0075
3                 0.1311  0.0328  0.0492  0.0492  0.7377
4                 0.0282  0.0094  0.0094  0.0047  0.9484

Матрица перехода из месяца -92 в месяц -91

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9733  0.0243  0.0022  0.0001  0.0002
1                 0.4620  0.3889  0.1477  0.0015  0.0000
2                 0.2394  0.1620  0.1901  0.4085  0.0000
3                 0.1356  0.0508  0.0847  0.1017  0.6271
4                 0.0328  0.0123  0.0164  0.0082  0.9303

Матрица перехода из месяца -91 в месяц -90

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9752  0.0228  0.0018  0.0001  0.0001
1                 0.5048  0.3651  0.1300  0.0000  0.0000
2                 0.1928  0.0843  0.2831  0.4398  0.0000
3                 0.0645  0.0323  0.0806  0.0968  0.7258
4                 0.0357  0.0159  0.0079  0.0198  0.9206

Матрица перехода из месяца -90 в месяц -89

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9735  0.0238  0.0024  0.0002  0.0002
1                 0.4629  0.4140  0.1231  0.0000  0.0000
2                 0.2216  0.1534  0.2784  0.3352  0.0114
3                 0.0988  0.0617  0.0741  0.0494  0.7160
4                 0.0623  0.0073  0.0110  0.0000  0.9194

Матрица перехода из месяца -89 в месяц -88

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9724  0.0254  0.0020  0.0001  0.0002
1                 0.4695  0.4159  0.1108  0.0037  0.0000
2                 0.3048  0.1176  0.2139  0.3422  0.0214
3                 0.1385  0.0462  0.0615  0.0615  0.6923
4                 0.0497  0.0132  0.0199  0.0000  0.9172

Матрица перехода из месяца -88 в месяц -87

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9741  0.0236  0.0020  0.0001  0.0002
1                 0.4430  0.4330  0.1196  0.0044  0.0000
2                 0.2254  0.1561  0.2486  0.3699  0.0000
3                 0.1912  0.1176  0.0294  0.0735  0.5882
4                 0.0536  0.0315  0.0095  0.0063  0.8991

Матрица перехода из месяца -87 в месяц -86

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9723  0.0249  0.0024  0.0001  0.0002
1                 0.4474  0.4208  0.1296  0.0021  0.0000
2                 0.2784  0.1082  0.2732  0.3402  0.0000
3                 0.1143  0.0286  0.0286  0.1286  0.7000
4                 0.0312  0.0156  0.0094  0.0062  0.9375

Матрица перехода из месяца -86 в месяц -85

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9740  0.0233  0.0023  0.0001  0.0002
1                 0.4477  0.4389  0.1114  0.0020  0.0000
2                 0.2756  0.1378  0.2489  0.3244  0.0133
3                 0.1389  0.0694  0.0417  0.2083  0.5417
4                 0.0675  0.0061  0.0061  0.0061  0.9141

Матрица перехода из месяца -85 в месяц -84

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9732  0.0244  0.0022  0.0002  0.0000
1                 0.4125  0.4522  0.1343  0.0009  0.0000
2                 0.2535  0.1106  0.2350  0.3917  0.0092
3                 0.1444  0.0444  0.0889  0.1222  0.6000
4                 0.0262  0.0087  0.0087  0.0058  0.9506

Матрица перехода из месяца -84 в месяц -83

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9757  0.0220  0.0018  0.0003  0.0002
1                 0.4314  0.4439  0.1230  0.0009  0.0009
2                 0.2590  0.1753  0.2191  0.3307  0.0159
3                 0.1146  0.0417  0.0417  0.1354  0.6667
4                 0.0356  0.0000  0.0055  0.0055  0.9534

Матрица перехода из месяца -83 в месяц -82

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9725  0.0248  0.0025  0.0002  0.0001
1                 0.4131  0.4609  0.1233  0.0018  0.0009
2                 0.2596  0.1489  0.2255  0.3532  0.0128
3                 0.1515  0.0505  0.0505  0.1616  0.5859
4                 0.0419  0.0099  0.0099  0.0000  0.9384

Матрица перехода из месяца -82 в месяц -81

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9709  0.0263  0.0023  0.0002  0.0002
1                 0.4389  0.4512  0.1066  0.0033  0.0000
2                 0.2656  0.1836  0.2617  0.2852  0.0039
3                 0.1667  0.0521  0.1146  0.2188  0.4479
4                 0.0263  0.0000  0.0096  0.0024  0.9617

Матрица перехода из месяца -81 в месяц -80

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9733  0.0246  0.0017  0.0002  0.0002
1                 0.4342  0.4462  0.1136  0.0045  0.0015
2                 0.2873  0.1306  0.2463  0.3321  0.0037
3                 0.1633  0.0510  0.0306  0.1020  0.6531
4                 0.0368  0.0046  0.0023  0.0092  0.9471

Матрица перехода из месяца -80 в месяц -79

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9738  0.0238  0.0021  0.0001  0.0002
1                 0.4309  0.4407  0.1261  0.0023  0.0000
2                 0.2328  0.1565  0.2519  0.3550  0.0038
3                 0.1468  0.0459  0.0826  0.1101  0.6147
4                 0.0218  0.0066  0.0066  0.0044  0.9607

Матрица перехода из месяца -79 в месяц -78

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9733  0.0249  0.0016  0.0001  0.0001
1                 0.4347  0.4503  0.1135  0.0015  0.0000
2                 0.2791  0.1395  0.2625  0.3189  0.0000
3                 0.1296  0.0556  0.0926  0.1111  0.6111
4                 0.0307  0.0102  0.0061  0.0061  0.9468

Матрица перехода из месяца -78 в месяц -77

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9726  0.0255  0.0016  0.0001  0.0002
1                 0.4604  0.4233  0.1142  0.0014  0.0007
2                 0.2899  0.1123  0.2681  0.3261  0.0036
3                 0.0818  0.0545  0.0545  0.0909  0.7182
4                 0.0314  0.0196  0.0039  0.0020  0.9431

Матрица перехода из месяца -77 в месяц -76

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9705  0.0275  0.0016  0.0001  0.0003
1                 0.4593  0.4144  0.1243  0.0021  0.0000
2                 0.2642  0.1472  0.2302  0.3547  0.0038
3                 0.0891  0.0594  0.1188  0.1287  0.6040
4                 0.0404  0.0037  0.0074  0.0037  0.9449

Матрица перехода из месяца -76 в месяц -75

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9711  0.0268  0.0019  0.0000  0.0001
1                 0.4987  0.3820  0.1147  0.0046  0.0000
2                 0.2279  0.1599  0.2483  0.3605  0.0034
3                 0.1574  0.0556  0.0463  0.1481  0.5926
4                 0.0409  0.0071  0.0036  0.0036  0.9449

Матрица перехода из месяца -75 в месяц -74

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9725  0.0257  0.0014  0.0001  0.0003
1                 0.4654  0.4241  0.1099  0.0007  0.0000
2                 0.3017  0.1627  0.2305  0.2949  0.0102
3                 0.1280  0.0640  0.0640  0.1360  0.6080
4                 0.0240  0.0051  0.0034  0.0120  0.9554

Матрица перехода из месяца -74 в месяц -73

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9714  0.0271  0.0012  0.0001  0.0002
1                 0.4509  0.4359  0.1113  0.0013  0.0007
2                 0.2294  0.1075  0.2545  0.4050  0.0036
3                 0.0901  0.0541  0.0541  0.1802  0.6216
4                 0.0293  0.0114  0.0049  0.0033  0.9511

Матрица перехода из месяца -73 в месяц -72

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9712  0.0268  0.0015  0.0001  0.0003
1                 0.4739  0.4197  0.1014  0.0044  0.0006
2                 0.2130  0.1986  0.2130  0.3718  0.0036
3                 0.0976  0.0569  0.0813  0.1626  0.6016
4                 0.0266  0.0109  0.0016  0.0047  0.9562

Матрица перехода из месяца -72 в месяц -71

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9704  0.0280  0.0014  0.0001  0.0002
1                 0.4565  0.4303  0.1087  0.0045  0.0000
2                 0.2538  0.1402  0.2159  0.3788  0.0114
3                 0.1119  0.0448  0.0672  0.2164  0.5597
4                 0.0463  0.0105  0.0105  0.0075  0.9253

Матрица перехода из месяца -71 в месяц -70

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9704  0.0280  0.0013  0.0001  0.0002
1                 0.4592  0.4209  0.1154  0.0045  0.0000
2                 0.2510  0.1293  0.2281  0.3878  0.0038
3                 0.1194  0.0672  0.0597  0.2313  0.5224
4                 0.0289  0.0076  0.0076  0.0076  0.9483

Матрица перехода из месяца -70 в месяц -69

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9717  0.0266  0.0013  0.0002  0.0002
1                 0.4563  0.4303  0.1096  0.0038  0.0000
2                 0.2362  0.2251  0.2399  0.2952  0.0037
3                 0.1522  0.0580  0.0870  0.1232  0.5797
4                 0.0312  0.0089  0.0074  0.0045  0.9480

Матрица перехода из месяца -69 в месяц -68

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9712  0.0272  0.0013  0.0000  0.0003
1                 0.4695  0.4200  0.1092  0.0013  0.0000
2                 0.2730  0.1454  0.1844  0.3901  0.0071
3                 0.0943  0.0283  0.0755  0.1415  0.6604
4                 0.0291  0.0029  0.0087  0.0073  0.9520

Матрица перехода из месяца -68 в месяц -67

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9721  0.0264  0.0013  0.0000  0.0002
1                 0.4671  0.4199  0.1098  0.0013  0.0019
2                 0.2444  0.1429  0.2406  0.3684  0.0038
3                 0.1694  0.0726  0.0161  0.0887  0.6532
4                 0.0349  0.0044  0.0102  0.0029  0.9476

Матрица перехода из месяца -67 в месяц -66

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9716  0.0273  0.0009  0.0000  0.0002
1                 0.4718  0.4193  0.1070  0.0020  0.0000
2                 0.2482  0.1679  0.2007  0.3723  0.0109
3                 0.1150  0.0442  0.0885  0.1504  0.6018
4                 0.0330  0.0143  0.0129  0.0072  0.9327

Матрица перехода из месяца -66 в месяц -65

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9717  0.0269  0.0011  0.0000  0.0003
1                 0.4839  0.4167  0.0975  0.0013  0.0006
2                 0.2682  0.1916  0.2031  0.3333  0.0038
3                 0.1417  0.1000  0.0667  0.1000  0.5917
4                 0.0332  0.0101  0.0043  0.0029  0.9495

Матрица перехода из месяца -65 в месяц -64

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9719  0.0269  0.0010  0.0000  0.0002
1                 0.5043  0.4019  0.0932  0.0000  0.0006
2                 0.2605  0.1639  0.2185  0.3529  0.0042
3                 0.1300  0.0500  0.0900  0.1200  0.6100
4                 0.0314  0.0109  0.0041  0.0055  0.9481

Матрица перехода из месяца -64 в месяц -63

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9733  0.0260  0.0006  0.0000  0.0001
1                 0.4876  0.4214  0.0891  0.0019  0.0000
2                 0.2542  0.1441  0.2500  0.3390  0.0127
3                 0.0440  0.0989  0.0440  0.1978  0.6154
4                 0.0311  0.0041  0.0014  0.0041  0.9594

Матрица перехода из месяца -63 в месяц -62

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9739  0.0249  0.0011  0.0000  0.0001
1                 0.4755  0.4479  0.0760  0.0000  0.0006
2                 0.2535  0.2028  0.2304  0.3088  0.0046
3                 0.1212  0.0909  0.0505  0.1616  0.5758
4                 0.0256  0.0094  0.0027  0.0013  0.9610

Матрица перехода из месяца -62 в месяц -61

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9743  0.0246  0.0009  0.0001  0.0001
1                 0.4897  0.4216  0.0862  0.0018  0.0006
2                 0.2871  0.2475  0.1683  0.2921  0.0050
3                 0.0875  0.0500  0.0500  0.1875  0.6250
4                 0.0281  0.0054  0.0067  0.0013  0.9585

Матрица перехода из месяца -61 в месяц -60

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9736  0.0256  0.0007  0.0000  0.0000
1                 0.4985  0.4162  0.0841  0.0012  0.0000
2                 0.3173  0.1202  0.2260  0.3269  0.0096
3                 0.1600  0.0667  0.0933  0.1600  0.5200
4                 0.0261  0.0096  0.0069  0.0041  0.9532

Матрица перехода из месяца -60 в месяц -59

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9752  0.0238  0.0010  0.0000  0.0000
1                 0.4799  0.4255  0.0934  0.0012  0.0000
2                 0.2682  0.1500  0.2045  0.3636  0.0136
3                 0.1905  0.0476  0.0595  0.1548  0.5476
4                 0.0254  0.0099  0.0056  0.0028  0.9563

Матрица перехода из месяца -59 в месяц -58

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9733  0.0257  0.0009  0.0000  0.0001
1                 0.5021  0.4024  0.0950  0.0006  0.0000
2                 0.2743  0.1603  0.2025  0.3502  0.0127
3                 0.2021  0.0957  0.0638  0.0957  0.5426
4                 0.0201  0.0058  0.0014  0.0029  0.9698

Матрица перехода из месяца -58 в месяц -57

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9740  0.0252  0.0006  0.0001  0.0001
1                 0.4864  0.4096  0.1005  0.0035  0.0000
2                 0.2941  0.1639  0.1849  0.3487  0.0084
3                 0.1319  0.0879  0.0220  0.1429  0.6154
4                 0.0233  0.0029  0.0102  0.0058  0.9578

Матрица перехода из месяца -57 в месяц -56

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9737  0.0251  0.0010  0.0001  0.0001
1                 0.4885  0.4076  0.1011  0.0022  0.0006
2                 0.3017  0.1446  0.2066  0.3306  0.0165
3                 0.1980  0.0693  0.0396  0.1485  0.5446
4                 0.0271  0.0114  0.0029  0.0043  0.9544

Матрица перехода из месяца -56 в месяц -55

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9741  0.0250  0.0007  0.0000  0.0001
1                 0.5065  0.4087  0.0848  0.0000  0.0000
2                 0.2379  0.1450  0.1896  0.4238  0.0037
3                 0.1616  0.0909  0.0707  0.1212  0.5556
4                 0.0281  0.0056  0.0042  0.0056  0.9565

Матрица перехода из месяца -55 в месяц -54

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9748  0.0246  0.0005  0.0000  0.0001
1                 0.5026  0.4131  0.0838  0.0005  0.0000
2                 0.2128  0.1617  0.2468  0.3574  0.0213
3                 0.1429  0.0794  0.0635  0.1429  0.5714
4                 0.0333  0.0097  0.0069  0.0055  0.9445

Матрица перехода из месяца -54 в месяц -53

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9764  0.0228  0.0007  0.0000  0.0001
1                 0.4907  0.4305  0.0778  0.0005  0.0005
2                 0.2911  0.1814  0.2110  0.3165  0.0000
3                 0.1630  0.0978  0.0978  0.1413  0.5000
4                 0.0249  0.0055  0.0083  0.0069  0.9544

Матрица перехода из месяца -53 в месяц -52

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9764  0.0229  0.0006  0.0001  0.0001
1                 0.4935  0.4111  0.0949  0.0005  0.0000
2                 0.2766  0.1745  0.1617  0.3830  0.0043
3                 0.1591  0.1136  0.0455  0.1250  0.5568
4                 0.0297  0.0099  0.0042  0.0014  0.9548

Матрица перехода из месяца -52 в месяц -51

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9767  0.0224  0.0007  0.0000  0.0002
1                 0.5058  0.4022  0.0909  0.0010  0.0000
2                 0.2910  0.2172  0.1967  0.2869  0.0082
3                 0.1442  0.0865  0.0769  0.1346  0.5577
4                 0.0257  0.0043  0.0029  0.0014  0.9658

Матрица перехода из месяца -51 в месяц -50

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9770  0.0224  0.0004  0.0000  0.0001
1                 0.5048  0.4002  0.0930  0.0019  0.0000
2                 0.2879  0.2045  0.2008  0.2955  0.0114
3                 0.1975  0.1111  0.0370  0.0864  0.5679
4                 0.0209  0.0056  0.0056  0.0070  0.9611

Матрица перехода из месяца -50 в месяц -49

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9762  0.0231  0.0006  0.0000  0.0001
1                 0.5068  0.4079  0.0805  0.0038  0.0009
2                 0.2567  0.1341  0.2222  0.3870  0.0000
3                 0.1364  0.0455  0.0341  0.1705  0.6136
4                 0.0211  0.0056  0.0028  0.0042  0.9663

Матрица перехода из месяца -49 в месяц -48

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9758  0.0237  0.0004  0.0000  0.0001
1                 0.5104  0.4062  0.0830  0.0005  0.0000
2                 0.3147  0.1713  0.1992  0.3108  0.0040
3                 0.1545  0.0364  0.0727  0.1545  0.5818
4                 0.0236  0.0014  0.0055  0.0055  0.9639

Матрица перехода из месяца -48 в месяц -47

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9769  0.0226  0.0004  0.0000  0.0001
1                 0.5051  0.4101  0.0834  0.0004  0.0009
2                 0.2811  0.1606  0.2329  0.3173  0.0080
3                 0.1196  0.0978  0.0543  0.2283  0.5000
4                 0.0318  0.0014  0.0028  0.0028  0.9613

Матрица перехода из месяца -47 в месяц -46

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9759  0.0236  0.0004  0.0000  0.0001
1                 0.5160  0.4023  0.0799  0.0009  0.0009
2                 0.2735  0.1714  0.2041  0.3510  0.0000
3                 0.1304  0.0652  0.0870  0.1630  0.5543
4                 0.0297  0.0028  0.0014  0.0028  0.9633

Матрица перехода из месяца -46 в месяц -45

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9763  0.0233  0.0004  0.0000  0.0001
1                 0.5212  0.4052  0.0723  0.0013  0.0000
2                 0.2964  0.1542  0.1937  0.3518  0.0040
3                 0.1489  0.1064  0.0532  0.1170  0.5745
4                 0.0311  0.0028  0.0042  0.0014  0.9605

Матрица перехода из месяца -45 в месяц -44

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9764  0.0230  0.0005  0.0000  0.0001
1                 0.5308  0.3860  0.0824  0.0004  0.0004
2                 0.2605  0.1765  0.2101  0.3445  0.0084
3                 0.1667  0.0938  0.0729  0.1042  0.5625
4                 0.0356  0.0057  0.0043  0.0043  0.9502

Матрица перехода из месяца -44 в месяц -43

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9776  0.0218  0.0005  0.0000  0.0001
1                 0.5150  0.3983  0.0845  0.0017  0.0004
2                 0.3158  0.2068  0.1692  0.3008  0.0075
3                 0.1190  0.0476  0.0476  0.1786  0.6071
4                 0.0374  0.0086  0.0043  0.0043  0.9454

Матрица перехода из месяца -43 в месяц -42

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9772  0.0222  0.0005  0.0001  0.0001
1                 0.5130  0.4036  0.0820  0.0013  0.0000
2                 0.2218  0.2374  0.2023  0.3307  0.0078
3                 0.2660  0.0213  0.0638  0.1915  0.4574
4                 0.0366  0.0044  0.0059  0.0073  0.9458

Матрица перехода из месяца -42 в месяц -41

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9789  0.0205  0.0005  0.0000  0.0002
1                 0.5541  0.3767  0.0680  0.0013  0.0000
2                 0.3160  0.1920  0.1800  0.3040  0.0080
3                 0.2019  0.0865  0.0673  0.1827  0.4615
4                 0.0226  0.0030  0.0075  0.0015  0.9653

Матрица перехода из месяца -41 в месяц -40

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9786  0.0209  0.0004  0.0000  0.0002
1                 0.5394  0.3880  0.0717  0.0009  0.0000
2                 0.2939  0.1579  0.2237  0.3070  0.0175
3                 0.1628  0.1163  0.0698  0.1512  0.5000
4                 0.0285  0.0045  0.0075  0.0060  0.9535

Матрица перехода из месяца -40 в месяц -39

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9778  0.0215  0.0005  0.0001  0.0002
1                 0.5392  0.3881  0.0714  0.0009  0.0004
2                 0.2978  0.2178  0.1600  0.3244  0.0000
3                 0.1084  0.0241  0.0723  0.1807  0.6145
4                 0.0303  0.0015  0.0045  0.0030  0.9607

Матрица перехода из месяца -39 в месяц -38

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9775  0.0219  0.0004  0.0000  0.0002
1                 0.5437  0.3761  0.0793  0.0009  0.0000
2                 0.3122  0.1810  0.1674  0.3258  0.0136
3                 0.2000  0.0750  0.0250  0.1875  0.5125
4                 0.0286  0.0060  0.0045  0.0000  0.9609

Матрица перехода из месяца -38 в месяц -37

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9782  0.0211  0.0003  0.0000  0.0003
1                 0.5365  0.3901  0.0725  0.0004  0.0004
2                 0.3660  0.1702  0.1489  0.2979  0.0170
3                 0.1765  0.1059  0.0706  0.0824  0.5647
4                 0.0332  0.0060  0.0000  0.0075  0.9532

Матрица перехода из месяца -37 в месяц -36

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9783  0.0211  0.0004  0.0000  0.0001
1                 0.5622  0.3658  0.0708  0.0013  0.0000
2                 0.4095  0.1767  0.1164  0.2931  0.0043
3                 0.1892  0.0541  0.0405  0.1216  0.5946
4                 0.0235  0.0029  0.0044  0.0015  0.9677

Матрица перехода из месяца -36 в месяц -35

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9780  0.0215  0.0004  0.0000  0.0001
1                 0.5623  0.3822  0.0542  0.0013  0.0000
2                 0.3393  0.1964  0.1830  0.2723  0.0089
3                 0.2368  0.0921  0.0395  0.0658  0.5658
4                 0.0250  0.0088  0.0029  0.0044  0.9588

Матрица перехода из месяца -35 в месяц -34

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9776  0.0220  0.0002  0.0000  0.0001
1                 0.5688  0.3766  0.0538  0.0008  0.0000
2                 0.3370  0.1436  0.1381  0.3702  0.0110
3                 0.0794  0.0794  0.0635  0.1111  0.6667
4                 0.0351  0.0058  0.0044  0.0015  0.9532

Матрица перехода из месяца -34 в месяц -33

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9786  0.0211  0.0003  0.0000  0.0000
1                 0.5563  0.3890  0.0543  0.0004  0.0000
2                 0.2892  0.1506  0.1687  0.3735  0.0181
3                 0.1184  0.0658  0.0395  0.1711  0.6053
4                 0.0088  0.0073  0.0015  0.0015  0.9810

Матрица перехода из месяца -33 в месяц -32

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9781  0.0215  0.0002  0.0000  0.0001
1                 0.5661  0.3879  0.0441  0.0012  0.0008
2                 0.2663  0.1848  0.2011  0.3424  0.0054
3                 0.0822  0.0685  0.0274  0.1370  0.6849
4                 0.0172  0.0057  0.0000  0.0086  0.9685

Матрица перехода из месяца -32 в месяц -31

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9789  0.0209  0.0002  0.0000  0.0001
1                 0.5482  0.4024  0.0490  0.0004  0.0000
2                 0.3141  0.1538  0.1987  0.3333  0.0000
3                 0.1184  0.0921  0.0263  0.0658  0.6974
4                 0.0227  0.0071  0.0043  0.0014  0.9645

Матрица перехода из месяца -31 в месяц -30

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9795  0.0201  0.0003  0.0000  0.0001
1                 0.5548  0.3946  0.0490  0.0015  0.0000
2                 0.3049  0.1951  0.1829  0.3049  0.0122
3                 0.1273  0.0364  0.0364  0.1091  0.6909
4                 0.0099  0.0014  0.0028  0.0014  0.9844

Матрица перехода из месяца -30 в месяц -29

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9787  0.0208  0.0004  0.0000  0.0001
1                 0.5760  0.3728  0.0512  0.0000  0.0000
2                 0.3256  0.1512  0.1512  0.3663  0.0058
3                 0.1321  0.0755  0.0755  0.1698  0.5472
4                 0.0138  0.0083  0.0014  0.0014  0.9751

Матрица перехода из месяца -29 в месяц -28

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9781  0.0214  0.0004  0.0000  0.0001
1                 0.5782  0.3728  0.0475  0.0016  0.0000
2                 0.2989  0.1782  0.1782  0.3391  0.0057
3                 0.1304  0.0725  0.0580  0.0725  0.6667
4                 0.0166  0.0041  0.0041  0.0028  0.9724

Матрица перехода из месяца -28 в месяц -27

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9780  0.0218  0.0003  0.0000  0.0000
1                 0.5482  0.4061  0.0449  0.0008  0.0000
2                 0.2982  0.1930  0.1345  0.3450  0.0292
3                 0.1290  0.0806  0.0323  0.0968  0.6613
4                 0.0123  0.0027  0.0014  0.0027  0.9808

Матрица перехода из месяца -27 в месяц -26

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9791  0.0205  0.0003  0.0000  0.0001
1                 0.5763  0.3745  0.0485  0.0004  0.0004
2                 0.2378  0.2028  0.1608  0.3846  0.0140
3                 0.1967  0.0000  0.0656  0.1148  0.6230
4                 0.0217  0.0014  0.0000  0.0000  0.9769

Матрица перехода из месяца -26 в месяц -25

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9788  0.0208  0.0004  0.0000  0.0000
1                 0.5700  0.3818  0.0478  0.0000  0.0004
2                 0.3038  0.1456  0.1835  0.3544  0.0127
3                 0.1724  0.0517  0.0345  0.1207  0.6207
4                 0.0134  0.0040  0.0027  0.0027  0.9772

Матрица перехода из месяца -25 в месяц -24

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9786  0.0209  0.0004  0.0000  0.0001
1                 0.5793  0.3841  0.0348  0.0019  0.0000
2                 0.3486  0.1771  0.1600  0.3029  0.0114
3                 0.1186  0.1017  0.0169  0.1356  0.6271
4                 0.0081  0.0040  0.0040  0.0013  0.9826

Матрица перехода из месяца -24 в месяц -23

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9791  0.0206  0.0002  0.0000  0.0001
1                 0.5866  0.3630  0.0500  0.0004  0.0000
2                 0.3099  0.1901  0.1479  0.3380  0.0141
3                 0.0877  0.0351  0.0526  0.0702  0.7544
4                 0.0201  0.0094  0.0013  0.0013  0.9679

Матрица перехода из месяца -23 в месяц -22

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9790  0.0206  0.0003  0.0000  0.0001
1                 0.6005  0.3608  0.0383  0.0004  0.0000
2                 0.2909  0.2000  0.1515  0.3515  0.0061
3                 0.1591  0.0000  0.0682  0.2273  0.5455
4                 0.0163  0.0027  0.0054  0.0014  0.9743

Матрица перехода из месяца -22 в месяц -21

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9803  0.0194  0.0003  0.0000  0.0001
1                 0.5958  0.3632  0.0396  0.0007  0.0007
2                 0.3289  0.1842  0.1250  0.3421  0.0197
3                 0.1594  0.0435  0.0580  0.1304  0.6087
4                 0.0112  0.0000  0.0028  0.0014  0.9846

Матрица перехода из месяца -21 в месяц -20

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9804  0.0193  0.0003  0.0000  0.0001
1                 0.5707  0.3830  0.0452  0.0007  0.0004
2                 0.3026  0.1645  0.1645  0.3618  0.0066
3                 0.1034  0.0517  0.0517  0.1207  0.6724
4                 0.0219  0.0055  0.0014  0.0027  0.9684

Матрица перехода из месяца -20 в месяц -19

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9804  0.0192  0.0002  0.0000  0.0001
1                 0.5694  0.3839  0.0467  0.0000  0.0000
2                 0.3256  0.1919  0.1628  0.3023  0.0174
3                 0.0615  0.0769  0.0000  0.0769  0.7846
4                 0.0123  0.0014  0.0014  0.0014  0.9837

Матрица перехода из месяца -19 в месяц -18

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9804  0.0193  0.0002  0.0000  0.0000
1                 0.5998  0.3558  0.0440  0.0003  0.0000
2                 0.2807  0.1579  0.2105  0.3333  0.0175
3                 0.1250  0.0357  0.1071  0.0714  0.6607
4                 0.0199  0.0066  0.0053  0.0040  0.9642

Матрица перехода из месяца -18 в месяц -17

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9796  0.0200  0.0002  0.0001  0.0001
1                 0.5752  0.3858  0.0383  0.0007  0.0000
2                 0.3073  0.1899  0.1397  0.3575  0.0056
3                 0.1429  0.0635  0.0476  0.0635  0.6825
4                 0.0241  0.0054  0.0000  0.0000  0.9705

Матрица перехода из месяца -17 в месяц -16

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9803  0.0194  0.0003  0.0000  0.0000
1                 0.5819  0.3733  0.0432  0.0010  0.0007
2                 0.2635  0.2095  0.1689  0.3446  0.0135
3                 0.1449  0.0580  0.0580  0.1014  0.6377
4                 0.0119  0.0013  0.0013  0.0013  0.9841

Матрица перехода из месяца -16 в месяц -15

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9790  0.0206  0.0002  0.0000  0.0001
1                 0.5760  0.3811  0.0426  0.0003  0.0000
2                 0.3793  0.0977  0.1897  0.3103  0.0230
3                 0.1000  0.0667  0.0667  0.0667  0.7000
4                 0.0144  0.0052  0.0013  0.0066  0.9725

Матрица перехода из месяца -15 в месяц -14

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9787  0.0210  0.0003  0.0000  0.0001
1                 0.5736  0.3848  0.0400  0.0010  0.0006
2                 0.3086  0.2114  0.1714  0.3029  0.0057
3                 0.0909  0.0364  0.0364  0.0909  0.7455
4                 0.0134  0.0080  0.0013  0.0013  0.9760

Матрица перехода из месяца -14 в месяц -13

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9791  0.0202  0.0004  0.0000  0.0002
1                 0.5808  0.3723  0.0456  0.0012  0.0000
2                 0.2865  0.1461  0.1966  0.3652  0.0056
3                 0.1406  0.0312  0.0938  0.0625  0.6719
4                 0.0148  0.0013  0.0027  0.0000  0.9812

Матрица перехода из месяца -13 в месяц -12

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9784  0.0211  0.0002  0.0000  0.0003
1                 0.5960  0.3677  0.0354  0.0003  0.0006
2                 0.2944  0.1822  0.1682  0.3551  0.0000
3                 0.0909  0.0606  0.0455  0.1212  0.6818
4                 0.0234  0.0013  0.0026  0.0013  0.9714

Матрица перехода из месяца -12 в месяц -11

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9776  0.0217  0.0003  0.0000  0.0004
1                 0.5831  0.3727  0.0427  0.0006  0.0009
2                 0.2893  0.1635  0.2264  0.3082  0.0126
3                 0.1220  0.0732  0.0732  0.0854  0.6463
4                 0.0238  0.0038  0.0000  0.0000  0.9724

Матрица перехода из месяца -11 в месяц -10

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9772  0.0224  0.0002  0.0000  0.0002
1                 0.5926  0.3720  0.0346  0.0006  0.0003
2                 0.3300  0.1600  0.2250  0.2850  0.0000
3                 0.2182  0.0545  0.0545  0.1091  0.5636
4                 0.0214  0.0024  0.0012  0.0000  0.9750

Матрица перехода из месяца -10 в месяц -9

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9784  0.0212  0.0002  0.0000  0.0001
1                 0.5817  0.3821  0.0359  0.0003  0.0000
2                 0.2597  0.1050  0.2486  0.3757  0.0110
3                 0.1250  0.0625  0.0312  0.1406  0.6406
4                 0.0155  0.0012  0.0012  0.0012  0.9809

Матрица перехода из месяца -9 в месяц -8

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9775  0.0221  0.0003  0.0000  0.0001
1                 0.5763  0.3848  0.0375  0.0003  0.0011
2                 0.2713  0.1862  0.2074  0.3245  0.0106
3                 0.1026  0.0513  0.0385  0.0641  0.7436
4                 0.0095  0.0059  0.0035  0.0024  0.9787

Матрица перехода из месяца -8 в месяц -7

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9772  0.0224  0.0002  0.0000  0.0002
1                 0.5886  0.3686  0.0419  0.0008  0.0000
2                 0.3651  0.1323  0.1587  0.3386  0.0053
3                 0.0312  0.1094  0.0156  0.0781  0.7656
4                 0.0128  0.0023  0.0012  0.0035  0.9802

Матрица перехода из месяца -7 в месяц -6

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9780  0.0215  0.0003  0.0000  0.0002
1                 0.6174  0.3468  0.0340  0.0010  0.0008
2                 0.2899  0.1546  0.1981  0.3478  0.0097
3                 0.1096  0.0959  0.0137  0.0959  0.6849
4                 0.0126  0.0046  0.0034  0.0023  0.9772

Матрица перехода из месяца -6 в месяц -5

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9783  0.0212  0.0003  0.0000  0.0002
1                 0.6081  0.3521  0.0395  0.0003  0.0000
2                 0.3198  0.1269  0.2081  0.3350  0.0102
3                 0.1647  0.0471  0.0235  0.0706  0.6941
4                 0.0133  0.0033  0.0022  0.0000  0.9812

Матрица перехода из месяца -5 в месяц -4

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9759  0.0237  0.0003  0.0000  0.0001
1                 0.5942  0.3703  0.0348  0.0005  0.0002
2                 0.2824  0.2500  0.1806  0.2870  0.0000
3                 0.1111  0.0972  0.0000  0.0556  0.7361
4                 0.0150  0.0032  0.0032  0.0011  0.9776

Матрица перехода из месяца -4 в месяц -3

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9765  0.0232  0.0002  0.0000  0.0001
1                 0.6128  0.3505  0.0354  0.0004  0.0009
2                 0.2562  0.1724  0.2118  0.3498  0.0099
3                 0.1493  0.0000  0.0299  0.0896  0.7313
4                 0.0168  0.0063  0.0021  0.0042  0.9707

Матрица перехода из месяца -3 в месяц -2

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9747  0.0250  0.0002  0.0000  0.0001
1                 0.5954  0.3690  0.0345  0.0007  0.0004
2                 0.3160  0.1991  0.1948  0.2814  0.0087
3                 0.1882  0.0706  0.0706  0.0824  0.5882
4                 0.0146  0.0021  0.0021  0.0021  0.9791

Матрица перехода из месяца -2 в месяц -1

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9726  0.0270  0.0002  0.0000  0.0002
1                 0.5779  0.3881  0.0338  0.0002  0.0000
2                 0.2778  0.1481  0.2176  0.3426  0.0139
3                 0.0959  0.0274  0.0137  0.1096  0.7534
4                 0.0197  0.0031  0.0000  0.0021  0.9751

Матрица перехода из месяца -1 в месяц 0

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9743  0.0253  0.0002  0.0000  0.0001
1                 0.5857  0.3705  0.0419  0.0017  0.0002
2                 0.3148  0.2083  0.1759  0.2870  0.0139
3                 0.1392  0.0380  0.0886  0.1013  0.6329
4                 0.0224  0.0031  0.0000  0.0010  0.9735

In [10]:
# Теперь усредняем полученные матрицы в одну, чтобы получить среднюю месячную матрицу миграции

# Сохраняем струткру других матриц, но обнуляем элементы
final_month_mtrx = pd.DataFrame(0.0, index=mtrx_1.index, columns=mtrx_1.columns)

# Бежим в цикле по всем элементам всех матриц

for i in mtrx_1.index:
    for c in mtrx_1.columns:
        sum_el = 0
        cnt_el = 0
        for date in dates_list:            
            if date < 0:               
                exec('mtrx_date = mtrx_' + str(abs(date)) + '.copy()')
                
                if mtrx_date.shape[0] == 5 and mtrx_date.shape[1] == 5: 
                    mtrx_el = mtrx_date.at[i,c]
                    sum_el = sum_el + mtrx_el
                    cnt_el = cnt_el + 1
                else:
                    sum_el = sum_el + 0
                    cnt_el = cnt_el + 0
      
        # Для каждого элемента финальной месячной матрицы считаем среднее по всем матрицам по соответствующим элементам
        if cnt_el == 0:
            final_month_mtrx.at[i,c] = 0.0
        else:
            final_month_mtrx.at[i,c] = round(sum_el/cnt_el,4)

final_month_mtrx

STATUS_next_date       0       1       2       3       4
STATUS_this_date
0                 0.9757  0.0232  0.0008  0.0000  0.0001
1                 0.5193  0.3998  0.0794  0.0013  0.0003
2                 0.2835  0.1637  0.2026  0.3419  0.0083
3                 0.1357  0.0618  0.0554  0.1233  0.6238
4                 0.0266  0.0064  0.0047  0.0036  0.9587

In [19]:
id_qty = 10000

df_generate_balance = pd.DataFrame(columns = ['id','dt_1'])

for i in range(0,id_qty):
    rnd = random.choices(list(final_month_mtrx.index), weights = final_month_mtrx[0])[0]
    df_generate_balance.loc[i] = [1,rnd]

df_generate_balance.groupby('dt_1')['id'].count()

dt_1
0    5188
1    2572
2    1416
3     713
4     111
Name: id, dtype: int64

In [20]:
for new_date in range(2,31):
    df_generate_balance['dt_' + str(new_date)] = 0.0   
    for row_id in range(0,id_qty):
        old_bucket = df_generate_balance.at[row_id,'dt_' + str(new_date-1)]
        rnd = random.choices(list(final_month_mtrx.index), weights = final_month_mtrx.loc[old_bucket])[0]
        df_generate_balance.at[row_id,'dt_' + str(new_date)] = rnd

df_generate_balance.groupby('dt_30')['id'].count()

dt_30
0.0    8901
1.0     387
2.0      56
3.0      22
4.0     634
Name: id, dtype: int64

In [24]:
df_generate_balance[['id','dt_1','dt_30']].groupby(['dt_1','dt_30'])['id'].count()

dt_1  dt_30
0     0.0      4852
      1.0       201
      2.0        28
      3.0         9
      4.0        98
1     0.0      2358
      1.0        91
      2.0        18
      3.0         5
      4.0       100
2     0.0      1133
      1.0        56
      2.0         7
      3.0         3
      4.0       217
3     0.0       487
      1.0        32
      2.0         3
      3.0         5
      4.0       186
4     0.0        71
      1.0         7
      4.0        33
Name: id, dtype: int64